body {
    margin: 0;
    padding: 0;
    font-size: 16px; 
    height: 100vh;
}

:root{
    --imagenes-padding: 30px;
    --margin-generico: 10px;
    --imagenes-size: 400px;
    --pfuentes:1.2em;
}


.contenedorGrande{
    
    display: grid;
   overflow: hidden;
    grid-template-columns: 20vw 40vw 40vw ;
    grid-template-rows: 20vh 80vh 80vh 80vh 20vh;
    grid-template-areas: "header header header "
                        "nav main main "
                        "nav main main "
                        "nav main main "
                        "footer footer footer";
}

.capaOpacidad{
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  text-align: center;
  font-size: 1.4em;
  color: white;
}



main{
    grid-area: main;
}

header{
    grid-area: header;
    width: 100%;
    height: 100%;
    background-image: url("/imagenes/headerFoto.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

 
}

footer{
    grid-area: footer;
}


main{
    display: flex;
    text-align: center;
    background-color: blue;
    font-size: 1.1em;
    

}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

fieldset{
    width: 50%;
    height: 45%;
  
}


.pie{
    display: flex;
    justify-content: center;
}

.navegacion{
    display: flex;
    flex-direction: column;
   
    justify-content: space-evenly;
    height: 800px;
    width: 300px;
    font-size: 1.3em;
    position: absolute;
    right: 100%;
    transform: translateX(1em);
    transition: 0.2s transform linear;
    background-color: rgb(124, 216, 219);

}

nav:hover {
    transform: translateX(100%);
}

a{
    text-decoration: none;
    color: black;  
}

a:hover{
    color: white;
}

.contenedor{
    width: 200px;
    height: 50px;
    border-radius: 40%;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.interior{
    width: 50%;
    height: 70%;
    background-color: beige;
    border-radius: 30%;
   
    transition: 0.5s transform;
}

.interior:hover{
   transform: translateX(100%);
}


.modoOscuro{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.apartados{
    margin-left: 50px;
}
