body {
    margin: 0;
    padding: 0;
    font-size: 16px; 
    height: 100vh;
}

:root{
    --imagenes-padding: 30px;
    --margin-generico: 10px;
    --imagenes-size: 400px;
    --pfuentes:1.2em;
}


.contenedorGrande{
    
    display: grid;
   
    grid-template-columns: 20vw 40vw 40vw ;
    grid-template-rows: 20vh 100vh 100vh 100vh 20vh;
    grid-template-areas: "header header header "
                        "main main main "
                        "main main main "
                        "main main main "
                        "footer footer footer";
}

.capaOpacidad{
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  text-align: center;
  font-size: 1.4em;
  color: white;
}



main{
    grid-area: main;
}

header{
    grid-area: header;
    width: 100%;
    height: 100%;
    background-color: brown;

 
}

footer{
    grid-area: footer;
}


main{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    font-size: 1.1em;
}

.seccion{
    height: 30%;
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    position: relative;
    font-size: var(--pfuentes);
}

.seccion.contacto{
    height: 20%;
}

.imagenAsesorar,.imagenHogar{
    width: var(--imagenes-size);
    height:  var(--imagenes-size);
}

h3{
    margin: 0;
}

.seccion.hogar{
   
    position: relative;
}
.imagenHogar{
   padding: var(--imagenes-padding);
   margin: var(--margin-generico);
   background-color: cadetblue;
}

.h3.hogar{
    padding: 20px;
    margin-top: -50px;
}

.p.hogar{
    position: absolute;
    width: 55%;
    right: 50px;
    bottom: 50px;
    letter-spacing: 1px;
}


.h3.aseso{
    position: absolute;
    top: 20px;
    left: 35%;
}

.p.ase{
    width: 500px;
   letter-spacing: 1px;
    margin-left: 90px;
}
.imagenAsesorar{
  position: absolute;
  right: 100px;
  width: var(--imagenes-size);
  height: var(--imagenes-size);
}

.seccion.valoraciones{
    background-color: bisque;
}

.articleContainer{
    background-color: aqua;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.valoracion{
    background-color: chocolate;
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.imagenValoracion{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 25%;
    margin-top: var(--margin-generico);
}

.review{
    font-size: 20px;
    
}


.seccion.contacto{
    background-color: cornsilk;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5em;
}

.botonContacto{
    width: 400px;
    height: 50px;
}
.h3.contacto{
    margin-bottom: var(--margin-generico);
}

.pie{
    display: flex;
    justify-content: center;
}

.navegacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    background-color: aquamarine;
    height: 300px;
    width: 150px;
}