body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    height: 100vh;
}

:root {
    --imagenes-padding: 30px;
    --margin-generico: 10px;
    --imagenes-size: 45%;
    --pfuentesSize: 1.8em;
    --h3fuentes: 1.6em;
    --fondoMain: #D0E8E2;
    --fondo: #78AEC2;
    --fondoSecciones: #C3F9FF;
    --fondoOscuro: #254D4C;
    --fondoMainOscuro: #B9B9B9; 
    --fondoSeccionesOscuro: #000000;
    --colorTextos: black;
    --colorTextosOscuro: white;
    
    --pFont: textoPequenio;
    --hFont: pt;
}

@font-face {
    font-family: textoPequenio;
    src: url(/fonts/gowun/Gowun_Batang/GowunBatang-Bold.ttf);

    font-family: pt;
    src: url(/fonts/pt/PTSerif-BoldItalic.ttf)
}

.contenedorGrande {
    display: flex;
    flex-direction: column;
}


main {
    flex-direction: column;

}

p {
    font-family: var(--pFont);
    font-size: var(--pfuentesSize);
    text-align: center;
    color: var(--colorTextos);
}

h4{
    font-family: var(--hFont);
    font-size: 1.3em;
    color: var(--colorTextos);
    text-align: center;
}

h3 {
    font-family: var(--hFont);
    font-size: var(--h3fuentes);
    color: var(--colorTextos);
    text-align: center;
}

section {
    height: 30%;
    background-color: #f8f9fa;
  
}

.seccion.hogar {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.conten {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.imagenHogar {
    width: 30%;
    height: 50%;
    margin: 20px;
}

.texto {
    width: 50%;
    height: 50%;
  
}



.seccion.asesoramiento {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 40px;
    margin-bottom: 40px;
}

.contenGigante {
   
    display: flex;
    justify-content: space-evenly;
    
}

.contenConten {
    width: 45%;
    height: 100%;
    
  
}


.contenImagen {
    width: 20%;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    background-image: url(/imagenes/asesoramiento.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.efecto{
    grid-row: 3/4;
    grid-column: 3/4;
    justify-self: center;
    align-self: center;
    visibility: hidden;
}

.seccion.asesoramiento:hover .efecto{
    visibility: visible;
}

.botonContacto {
    background-color: #ff5252;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;  
     box-shadow: 0px 0px 0 #fff;
    transition: transform  0.25s ease-in-out;
   
  }

  .botonContacto:hover {
    transform: scale(1.2, 1.2);
  }

.seccion.valoraciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: var(--fondoSecciones);
    border-bottom: 2px #B9B9B9;
}

.articleContainer{
    display: flex;
    justify-content: space-evenly;
}

.valoracion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.imagenValoracion{
    width: 30%;
    border-radius: 50%;
}

.review{
    font-size: 1.4em;
}



.seccion.futuro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    background-color: white;
}

.info{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.capaOpacidad {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 1.4em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburguesa{
    margin-left: 20px;
    width: 100px;
    height: 50px;
    background-color: white;
    color: black;
    display: none;
    align-self: flex-end;
}



header {
    grid-area: header;
    width: 100%;
    height: 100%;
    background-image: url("/imagenes/headerFoto.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}


footer {
    grid-area: footer;
    background-color: var(--fondo);
}



.pie {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegacion {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    height: 100%;
    width: 20%;
    font-size: 1.5em;
    position: absolute;
    right: 100%;
    transform: translateX(1em);
    transition: 0.2s transform linear;
    background-color: var(--fondo);;

}
a{
    text-align: center;
    text-decoration: none;
    color: black;
}

.apartados{
    width: fit-content;
}

.seccion.contacto {
    background-color: azure;
}

nav:hover {
    transform: translateX(100%);
}


a:hover {
    color: white;
}

.contenedor {
    width: 100px;
    height: 25px;
    border-radius: 30px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.interior {
    width: 50%;
    height: 100%;
    background-color: beige;
    border-radius: 50px;
   
}


.modoOscuro {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.apartados {
    margin-left: 50px;
}


@media (max-width: 1200px){
    .navegacion div{
        display: none;
    }
 .navegacion{
    bottom: 100%;
 }
 nav:hover {
    transform: translateY(100%);
}
    nav:hover div{
        display: block;
    }
    nav:hover {
        width: 70%;
        align-items: center;
    }

    nav:hover .modoOscuro{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hamburguesa{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imagenHogar{
        width: 40%;
        height: 50%;
    }
  
    .contenImagen{
        margin-bottom: 0;
        height: 300px;
    }
}

@media (max-width:480px){
    .conten{
        flex-direction: column;
    }

    .contenGigante{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }


    .contenImagen{
        width: 60%;
        height: 200px;
        margin-bottom: 20px;
    }
    .articleContainer{
        display: flex;
        flex-direction: column;
    }

    .info{
        flex-direction: column;
    }
}


