body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    height: 100vh;
}

:root {
        --imagenes-padding: 30px;
        --margin-generico: 10px;
        --imagenes-size: 45%;
        --pfuentesSize: 1.8em;
        --h3fuentes: 1.6em;
        --fondoMain: #D0E8E2;
        --fondo: #A9AABC;
        --fondoSeccionesImportantes: #5E71C2;
        --fondoSecciones2:  #454655;
        --fondotextos: #FC888F;
        --pFont: textoPequenio;
        --hFont: pt;
    }


@font-face {
    font-family: textoPequenio;
    src: url(/fonts/gowun/Gowun_Batang/GowunBatang-Bold.ttf);

    font-family: pt;
    src: url(/fonts/pt/PTSerif-BoldItalic.ttf)
}

.contenedorGrande {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200vh;
    background-color: var(--fondoMain);
}

p {
    font-family: var(--pFont);
    font-size: var(--pfuentesSize);
    text-align: center;
}

h4{
    font-family: var(--hFont);
    font-size: 1.3em;
}

h3 {
    font-family: var(--hFont);
    font-size: var(--h3fuentes);
}

.datosGenerales {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articulo.fundacion{
    height: 33%;
     width: 80%;
    background-color: var(--fondotextos);
    display: flex;
}



section {
    width: 100%;
}


.capaOpacidad {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 1.4em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hamburguesa{
    margin-left: 20px;
    width: 100px;
    height: 50px;
    display: none;
    align-self: flex-end;
}



header {
    grid-area: header;
    width: 100%;
    height: 100%;
    background-image: url("/imagenes/headerFoto.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}


footer {
    grid-area: footer;
    background-color: var(--fondo);
}



.pie {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegacion {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    height: 100%;
    width: 20%;
    font-size: 1.5em;
    position: absolute;
    right: 100%;
    transform: translateX(1em);
    transition: 0.2s transform linear;
    background-color: var(--fondo);
    

}

a {
    text-align: center;
    text-decoration: none;
    color: black;
}

.apartados {
    width: fit-content;
}

.navegacion2{
    display: none;
}

.navegacion:hover {
    transform: translateX(100%);
}

.navegaconi2{
    display: none;
}

a:hover {
    color: white;
}

.contenedor {
    width: 100px;
    height: 25px;
    border-radius: 30px;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.interior {
    width: 50%;
    height: 100%;
    background-color: beige;
    border-radius: 50px;

}


.modoOscuro {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.apartados {
    margin-left: 50px;
}

@media (max-width: 1200px){
    .navegacion2{
        background-color: #B9B9B9;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    
    .apartados2{
        width: 20%;
    }
    
    .navegacion2 .contenedor {
        width: 20%;
        height: 25px;
        border-radius: 30px;
        border: 1px solid black;
    }
    
    .navegacion2 .interior {
        width: 50%;
        height: 100%;
        background-color: beige;
        border-radius: 50px;
       
    }
    
    
    .navegacion2 .modoOscuro {
        display: flex;
        width: 30%;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .navegacion2 .modoOscuro p{
        font-size: 20px;
    }
   .navegacion{
    display: none;
   }
}

@media (max-width:500px){
    p{
      font-size: 15px;
    }

    .navegacion2{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .navegacion2 .modoOscuro{
        width: 100%;
    }

    .apartados2{
        width: 100%;
        display: flex;
        justify-content: center;
    }
  
  
}

